---
import { TailcastLogo } from '../../assets/logos/TailcastLogo'
import { GithubIcon } from '../../assets/icons/GithubIcon'

const navbarLinks = [
  { label: 'Home', href: '/my-page/#home', ariaLabel: 'Home' },
  { label: 'Features', href: '/my-page/#features', ariaLabel: 'Features' },
  { label: 'Pricing', href: '/my-page/#pricing', ariaLabel: 'Pricing' },
  { label: 'Feedback', href: '/my-page/#feedback', ariaLabel: 'Feedback' },
  { label: 'FAQ', href: '/my-page/#FAQ', ariaLabel: 'FAQ' },
];
---

<nav
  class="w-full h-20 flex flex-col justify-center items-center fixed bg-bgDark1 lg:bg-bgDarkTransparent z-40 lg:backdrop-blur-xl"
  aria-label="Main navigation"
>
  <div class="2xl:w-[1280px] xl:w-10/12 w-11/12 flex justify-between items-center relative">
    <div>
      <a href="/my-page/#home" aria-label="Home">
        <div class="flex justify-start items-center grow basis-0">
          <div class="text-white mr-2 text-6xl">
            <TailcastLogo />
          </div>
          <div class="text-white font-['Inter'] font-bold text-xl">
            Tailcast
          </div>
        </div>
      </a>
    </div>
    <div>
      <div class="hidden lg:flex h-full pl-12 pb-2">
        {navbarLinks.map(({ href, label, ariaLabel }) => (
          <a
            class="text-white lg:text-base text-2xl leading-6 mr-4 ml-4 2xl:mr-6 2xl:ml-6 cursor-pointer font-normal lg:font-medium hover:scale-110 transition h-full pt-2"
            href={href}
            aria-label={ariaLabel}
          >
            {label}
          </a>
        ))}
      </div>
    </div>
    <div>
      <div class="grow basis-0 justify-end hidden lg:flex">
        <a
          class="text-white main-border-gray rounded-xl bg-bgDark2 hover:bg-bgDark3 border-gray-700 pl-6 pr-8 pt-2 pb-2 text-sm flex"
          href="https://github.com/matt765/Tidestream"
          target="_blank"
          aria-label="source code"
        >
          <GithubIcon />
          <span class="pt-px">Source code</span>
        </a>
      </div>
    </div>
    <div
      class="lg:hidden flex flex-col px-2 py-3 border-solid border border-gray-600 rounded-md cursor-pointer hover:bg-bgDark2"
      id="menuToggle"
    >
      <div class="w-5 h-0.5 bg-gray-500 mb-1"></div>
      <div class="w-5 h-0.5 bg-gray-500 mb-1"></div>
      <div class="w-5 h-0.5 bg-gray-500"></div>
    </div>
  </div>
  <!-- Mobile navbar -->
  <div
    id="mobileMenu"
    class="hidden flex-col mt-16 lg:hidden absolute top-4 left-0 bg-bgDark1 z-50 w-full items-center gap-10 pb-10 border-y border-solid border-bgDark3 pt-10"
  >
    {navbarLinks.map(({ label, href, ariaLabel }) => (
      <a
        class="text-white lg:text-base text-2xl leading-6 mr-4 ml-4 2xl:mr-6 2xl:ml-6 cursor-pointer font-normal lg:font-medium hover:scale-110 transition duration-300 h-full pt-2"
        href={href}
        aria-label={ariaLabel}
      >
        {label}
      </a>
    ))}
    <a
      class="outlined-button pl-6 pr-8 pt-2 pb-2 flex"
      href="https://github.com/matt765/Tidestream"
      target="_blank"
    >
      <GithubIcon />
      Source code
    </a>
  </div>
</nav>

<script>
  const menuToggle = document.getElementById('menuToggle');
  const mobileMenu = document.getElementById('mobileMenu');

  menuToggle.addEventListener('click', () => {
    mobileMenu.classList.toggle('hidden');
  });
</script>